<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/Web.css">
<footer>
    <div class="footer-right">
        <p>Website realized by Willy ZHENG</p>
        <p id="follow">Follow me :</p>
        <div class="social-icons">
            <a href="https://github.com/willy51" target="_blank"><img src="/images/github.svg" alt="GitHub"></a>
            <a href="https://linkedin.com/in/willyzheng1/" target="_blank"><img src="/images/linkedIn.svg" alt="LinkedIn"></a>
        </div>
    </div>
</footer>
</html>