<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/Web.css">
<link rel="icon" href="/images/icon.png" type="image/x-icon" />
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
<div th:replace="~{Header :: header(page='projects')}"></div>

    <h1 class="section-title">Projects</h1>

    <div class="project-steps">
        <div class="step-card" th:each="projet : ${projets}">
            <th:block th:if="${#strings.startsWith(projet.lien, 'http')}">
                <a th:href="${projet.lien}" target="_blank" class="step-link">
                    <div class="step-content">
                        <h2 th:text="${projet.titre}"></h2>
                        <span class="date" th:text="${projet.dateCreation}"></span>
                        <p th:text="${projet.description}"></p>
                    </div>
                </a>
            </th:block>

            <th:block th:if="${not #strings.startsWith(projet.lien, 'http')}">
                <a>
                    <div class="step-content">
                        <h2 th:text="${projet.titre}"></h2>
                        <span class="date" th:text="${projet.dateCreation}"></span>
                        <p th:text="${projet.description}"></p>
                    </div>
                </a>
            </th:block>

        </div>
    </div>

</body>

<div th:replace="~{Footer :: footer}"></div>

</html>
